<footer class="main-footer" ng-class="{'noSidebar':!$root.sidebar}">
  <div class="pull-right hidden-xs">
    <b>Version</b>
    2.3.0
  </div>
  <strong>Copyright &copy; 2014-2015
    <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong>
  All rights reserved.
</footer>
<!--
<footer class="footer">
  <div class="container-fluid">
    <p class="text-muted">Place sticky footer content here.
      <button ng-click="$root.quickActions=true" type="button" class="visible-xs btn btn-primary btn-xs pull-right" data-toggle="offcanvas">Toggle nav</button>
    </p>
  </div>
</footer>

-->
