<header class="main-header">
  <a href="index2.html" class="logo">
    <span class="logo-mini"><b>A</b>LT</span>
    <span class="logo-lg"><b>Admin</b>LTE</span>
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <a  class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" >
      <i class="fa fa-bars"></i>
    </a>

    <div id="navbar" class="navbar-collapse collapse navbar-left" >
      <ul class="nav navbar-nav">
        <li ui-sref-active="active" ng-repeat="navItem in headerNavItems">
          <a ui-sref='{{navItem.uisref}}'>{{navItem.name}}</a>
        </li>
        <!--
        <li ui-sref-active="active">
          <a ui-sref="home">{{'HOME'|translate}}</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="dashboard">{{'DASHBOARD'|translate}}</a>
        </li>
        <li ui-sref-active="active" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'EXAMPLES'|translate}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="examples" href="">{{'EXAMPLES'|translate}}</a>
            </li>
            <li>
              <a ui-sref="bootstrapExamples" href="">{{'BOOTSTRAP EXAMPLES'|translate}}</a>
            </li>
          </ul>
        </li>-->
    </div>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown notifications-menu">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag-o"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="header">{{'SELECT LANGUAGE'|translate}}</li>
            <li>
              <ul class="menu">
                <li>
                  <a ng-click="$root.changeLanguage('en')" href="">
                     English
                  </a>
                </li>
                <li>
                  <a ng-click="$root.changeLanguage('gr')" href="">
                    Ελληνικά
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown user user-menu">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <img src="images/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">Alexander Pierce</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <img src="images/user2-160x160.jpg" class="img-circle" alt="User Image">
              <p>
                Alexander Pierce - Web Developer
                <small>Member since Nov. 2012</small>
              </p>
            </li>
            <li class="user-body">
              <div class="col-xs-4 text-center">
                <a href="#">Followers</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Sales</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Friends</a>
              </div>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
