<!--
<ul class="nav navbar-nav navbar-right hidden-xs">
  <li ng-class="{active:$root.fullScreen}">
    <a ng-click="$root.toggleFullScreen()" href>{{'FULLSCREEN'|translate}}</a>
  </li>
  <li ng-class="{active:$root.quickActions}">
    <a ng-click="$root.toggleQuickActions()" href>{{'QUICK ACTIONS'|translate}}</a>
  </li>
  <li ng-class="{active:$root.sidebar}">
    <a ng-click="$root.toggleSidebar()" href>{{'SIDEBAR'|translate}}</a>
  </li>
</ul>
-->
<!--<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    <a ui-sref-active="active" ui-sref="dashboard" class="list-group-item">{{'GO TO DASHBOARD'|translate}}</a>
    <a ui-sref-active="active" ui-sref="examples" class="list-group-item">{{'GO TO EXAMPLES'|translate}}</a>
  </div>
</div>-->
<div>
  <aside ng-class="{'control-sidebar-open':$root.quickActions}" class="control-sidebar control-sidebar-dark ">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active">
        <a data-target="#control-sidebar-home-tab" data-toggle="tab">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li>
        <a data-target="#control-sidebar-settings-tab" data-toggle="tab">
          <i class="fa fa-gears"></i>
        </a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
      </div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <h3 class="control-sidebar-heading">General Settings</h3>
      </div>
      <div class='form-group'>
        <label class='control-sidebar-subheading'>
          <input  type='checkbox' ng-model="$root.quickActions" ng-change="$root.toggleQuickActions(true)" class='pull-right' /> Toggle Right Sidebar Slide
        </label>
        <p>Toggle between slide over content and push content effects</p>
      </div>
      <div class='form-group'>
        <label class='control-sidebar-subheading'>
          <input  type='checkbox' ng-model="$root.sidebar" ng-change="$root.toggleSidebar(true)" class='pull-right' /> Toggle Sidebar
        </label>
        <p>Toggle between visible or no sidebar</p>
      </div>

      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
  <div class="control-sidebar-bg" style="position:fixed;"></div>
</div>
